<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <helloworld>
            <general>
                <enable>1</enable>
                <display_text>Hello World</display_text>
            </general>
            <hospital>
                <enable>1</enable>
                <display_text>Name Hospital</display_text>
            </hospital>
        </helloworld>


        <payment>
            <custompayment>
                <payment_action>authorize</payment_action> <!-- You can use another method -->
                <model>Mageplaza\HelloWorld\Model\PaymentMethod</model>
                <active>1</active>
                <title>Custom Payment Method</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </custompayment>
        </payment>
    </default>
</config>