<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Mageplaza\HelloWorld\Controller\Index\Example">
        <plugin name="Mageplaza_HelloWorld_Plugin" type="Mageplaza\HelloWorld\Plugin\ExamplePlugin" sortOrder="10" disabled="false"  />
    </type>

    <type name="Magento\Catalog\Api\Data\ProductInterface">
        <plugin name="mageplaza_helloworld_catalog_product" type="Mageplaza\HelloWorld\Plugin\Model\Product" />

    </type>

    <type	name="Magento\Catalog\Api\Data\ProductInterface">
        <plugin	name="newProductFlag"	type="Mageplaza\HelloWorld\Plugin\NewProductFlag"/>
    </type>


    <preference for="Magento\Catalog\Model\Product" type="Mageplaza\HelloWorld\Model\Product"/>

<!--    <preference for="Magento\Catalog\Api\Data\ProductInterface" type="Mageplaza\HelloWorld\Api\Data\ProductInterface"/>-->
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="block-product-list" type="Mageplaza\HelloWorld\Plugin\ProductList"/>
    </type>

    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="after_place_order_operation" type="Mageplaza\HelloWorld\Plugin\OrderManagement"/>
    </type>


</config>