<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--    <event name="catalog_controller_product_view">-->
<!--        <observer name="vendor_resgister_observer" instance="Mageplaza\HelloWorld\Observer\ProductEvents" />-->
<!--    </event>-->



    <event name="catalog_controller_product_view">
        <observer name="CloudwaysProductData" instance="Mageplaza\HelloWorld\Observer\Product\Data" />
    </event>
</config>